@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

#wrapper {
    text-align: center;
}
#wrapper h1 {
    font-size: 42px;
    margin-bottom: 50px;
    margin-top: 10px;
}
h1 span {
    font-family: 'Play', sans-serif;
    font-weight: 400;
}
#wrapper h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
#wrapper p {
    font-size: 26px;
}
#wrapper h1, #wrapper h2, #wrapper p {
    
    font-family: 'Helvetica';
}
input {
    padding: 15px 180px;
    border-radius: 4px;
    margin-top: 25px;
    
}
#eight-ball {
    border-radius: 50%;
    background-color: #000;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 75px;
    display: grid;
    grid-template: 25% 50% 25% / 25% 50% 25%;
    
}

#ball-answer {
    background-color: #fff;
    border-radius: 50%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center; 
}

p#eight {
    font-size: 150px;
    color: #000;
    font-weight: 700;
    font-family: 'Play', sans-serif;
}



/*#answer {
    width: 0;
	height: 0;
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
    border-bottom: 150px solid #011070;
    
} */

p#answer {
  
    color:#AED8EB;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    padding: 15px;
}

.show {
    background-color: #010726!important;
    
}

.hide {
    display: none;
}
